body {
    text-align: center;
    background-color:darkgray;
}

h1 {
    color:darkviolet;
}

ul {
    list-style-position: inside;
}

ol {
    list-style: none;
}

nav ul li {
    margin-left: 2em;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: 2em;
}

.site {
    color:maroon;
}